
* 
{
    box-sizing: border-box;
}

body {
  background-color: #001c25;
  color: #ffffff;
  padding: 0px;
  margin: 0vw;
  font-family: "Segoe UI", "Roboto Flex", Helvetica, sans-serif;
}

ul {
  padding-inline-start: 20px;
}

nav {
  height: 4vw;
}

.nav-bar {
  background: #357990;
  width: 100vw;
  display: flex;
}

.nav-filler {
  background: #357990;
  width: calc(100vw / 7);
}

.nav-logo > img {
  /* width and height must be set for object-fit to work */
  width: calc(100vw / 7);
  height: 4vw;
  object-fit: cover;
}

.nav-button, .nav-logo {
  background: #354d90;
  width: calc(100vw / 7);
}

.square {
  background: #001c25;
  color: #ffffff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
  